.Line{
    width: 90px;
    height: 6px;
    background-color: dodgerblue;
}
#Apps{
    height: 700px;
    width: 100%;
    background-color:azure;
}
#Chatbot{
    height: 500px;
    width: 100%;
    background-color:khaki;
}
#Games{
    height: 500px;
    width: 100%;
    background-color:olivedrab;
}
#mc {
    background-color: chartreuse;
    padding-top: 50px;
}